[global]
    netbios name = __SMB_NETBIOS_NAME__
    workgroup = WORKGROUP
    server string = Time Capsule Samba 4
    interfaces = __BIND_INTERFACES__
    bind interfaces only = yes
    security = user
    map to guest = Never
    restrict anonymous = 2
    guest account = nobody
    null passwords = no
    ea support = yes
    passdb backend = smbpasswd:__PAYLOAD_DIR__/private/smbpasswd
    username map = __PAYLOAD_DIR__/private/username.map
    dos charset = ASCII
    min protocol = SMB2
    max protocol = SMB3
    unix extensions = no
    load printers = no
    disable spoolss = yes
    dfree command = /bin/sh /mnt/Flash/dfree.sh
    pid directory = /mnt/Memory/samba4/var
    lock directory = /mnt/Memory/samba4/locks
    state directory = /mnt/Memory/samba4/var
    cache directory = __CACHE_DIRECTORY__
    private dir = /mnt/Memory/samba4/private
    log file = /mnt/Memory/samba4/var/log.smbd
    max log size = 256
    smb ports = 445
    deadtime = 60
    reset on zero vc = yes
    fruit:aapl = yes
    fruit:model = TimeCapsule8,119
    fruit:advertise_fullsync = true
    fruit:nfs_aces = no
    fruit:veto_appledouble = yes
    fruit:wipe_intentionally_left_blank_rfork = yes
    fruit:delete_empty_adfiles = yes

[__SMB_SHARE_NAME__]
    path = __DATA_ROOT__
    browseable = yes
    read only = no
    guest ok = no
    valid users = __SMB_SAMBA_USER__ root
    vfs objects = catia fruit streams_xattr acl_xattr xattr_tdb
    acl_xattr:ignore system acls = yes
    fruit:resource = file
    fruit:metadata = stream
    fruit:time machine = yes
    fruit:posix_rename = yes
    xattr_tdb:file = __PAYLOAD_DIR__/private/xattr.tdb
    force user = root
    force group = wheel
    create mask = 0644
    directory mask = 0755
